
body {
    background-color: slategray;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 25px;
    padding: 20px;
}

.navigation-button {
    border: 2px solid black;
    padding: 5px;
    background-color: lightblue;
    border-radius: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

.hero-text {
    width: 50%;
}

.hero-img {
    width: 50%;
    border: 1px solid black;
}

.projects {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    max-width: 300px;
    display: flex;
    padding: 5px;
}

.card-text {
    width: 50%;
}

.card-img {
    width: 50%;
    border: 1px solid black;
}

footer {
    background-color: grey;
    height: 150px;
    padding: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MEDIA QUERY */
@media (max-width: 425px) {

    .hero {
        flex-direction: column;
    }

    .project-cards {
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}